services:
  web:
    build: .
    container_name: swifttrack_web
    restart: always
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - db_volume:/app/db
    env_file:
      - .env
    networks:
      - web_network

volumes:
  db_volume:
  static_volume:
  media_volume:

networks:
  web_network:
    external: true